.DS_Store
*.csv

data/t10k-images-idx3-ubyte
data/t10k-labels-idx1-ubyte
data/train-images-idx3-ubyte
data/train-labels-idx1-ubyte
data/t10k-images-idx3-ubyte.gz
data/t10k-labels-idx1-ubyte.gz
data/train-images-idx3-ubyte.gz
data/train-labels-idx1-ubyte.gz
tmpdir
